config {
	
	/* default TITLE if not provided */
	/*title="some new title"*/

	commonFileName = ""
	
	/* include everything that makes a stand-alone web page
	 DEV options:
		 true:
		    create a stand-alone well formed HTML document
		 false:
		    include only elements that will make up a post, ie. no HTML or HEAD tags, no links to external resources.
		    Everything will be included in a 'html snippet' that can be pasted itno a blogger post in HTML edit mode
	*/
	dev=true
	
	/* external JS library other than jQuery, so colorbox, cycle,etc. */
	extJS=false
	
	
	/* create empty shells of JS, CSS and HTML and CONFIG files
	 prefixed with blog title, (no spaces, underscores only)
	 CREATE options:
		 all: .css, .js, .html and .config will be created
		 js: .js as in some_post.js
		 css: .css as in some_post.css
		 html: .html as in some_post.html
		 
	*/
	create="html"
	
	/* if DEV is set to TRUE, composite file will be opened in default browser */
	preview=false
}
